@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shantell Sans', cursive;
}

.nav-bg{
  background-color: #fff;
}

.navbar-brand{
  font-size: 1.5rem;
  font-weight: 600;
  color: #24B5C1 !important;
  font-family: 'Shantell Sans', cursive;
}

.brand-name{
  color: #24B5C1;
  font-family: 'Shantell Sans', cursive;
}

#header{
  width: 100%;
  height: 70vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 600;

}

.a{
  font-family: 'Shantell Sans', cursive;

}

.a:hover{
  color: #3f98bd !important;
}

.menu-active{
  font-weight: bold !important;
  border-bottom: 1px solid #3f98bd !important;
}

.btn{
  border: 2px solid #138099;
  border-radius: 20px;
  font-weight: 600;
  color: #138099;
  letter-spacing: 1px;
  transition: 0.5s;
  width: 160px;
}

.btn:hover{
  background-color: #24B5C1;
  color: #fff;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

.btn-ser{
  border: 2px solid #63acbc;
    border-radius: 20px;
    font-weight: 600;
    color: #5bb7cc;
    letter-spacing: 1px;
    transition: 0.5s;
    text-decoration: none;
    padding: 6px;
}

.btn-ser:hover {
  background-color: #24B5C1;
  color: #fff;
}

.card{
  border-radius: 20px;
  border: none;
}

.text-black {
  color: #000;
}

.content {
  padding: 7rem 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-control {
  border: none;
  background: #f3f3f3;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.col-form-label {
  color: #000;
}

.button,
.form-control,
.custom-select {
  height: 50px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.button {
  border: none;
  border-radius: 4px !important;
}

.button.btn-primary {
  background: #000;
  color: #fff;
  padding: 15px 20px;
}

.button:hover {
  color: #fff !important;
}

.button:active,
.button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}

.box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.form-error{
  color: #B90B0B;
}

.errorpage{
  display: flex;
    justify-content: center;
    flex-direction: column;
}

.error-btn{
  display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
}